body {
  margin: 0;
  background-color: lightblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  margin: 50px 400px;
  padding: 20px;
  height: 600px;
  background-color: hotpink;
}

.hidden {
  display: none;
}
